<div class="wrapper">
	<div class="main_content">
		<div class="header_title">
			<h1>Standing up for all Californians</h1>
		</div>
  	<p>
  		I had just been sworn in Mayor of San Francisco when then-President George W. Bush was calling for a constitutional amendment to prohibit same-sex marriage, and right-wing conservatives were moving America in the fundamentally wrong direction.
		</p>
		<p>
			But in San Francisco, we led the charge in the opposite direction. The <em>right</em> direction.
		</p>
		<p>
			<strong>I directed the county clerk to issue marriage licenses to same-sex couples, the first place in America to do that. Why? Because it was the right thing to do and because the fight for equality requires bold action.</strong>
		</p>
		<p>
			It wasn't very popular then, even here in California.
		</p>
		<p>
			Since then, we’ve taken steps forward and backward, but over the last ten years, it’s clear which way the momentum is going.  The fight continues for marriage equality, for equal protection in the workplace and for adoption rights across the country. Our job: To demand nothing less than full equality for all LGBTQ Americans.
		</p>
		<p>
			<strong>Now, we’re reaching a tipping point. Marriage equality is on the books in a majority of states.</strong> And in those states that still ban same-sex marriage, challenges to that prohibition are pushing holdouts towards progress. 
		</p>
		<p>
			Bottom line: We’re on the path towards full marriage equality. 
		</p>
		<p>
			There’s also work ahead to protect the civil rights and fundamental freedoms of all Californians. We can never go back on a woman’s fundamental right to make her own health care decisions.
		</p>
		<p>
			And across the country, we must stand up to protect the right to vote for all Americans, no matter where their ancestors came from.
		</p>
		<p>
			No one can win this fight alone. The march for equality requires action and boldness, and a committed core of individuals who believe in equal rights for all Americans. It’s on us to stand together.
		</p>

		<div class="clear">&nbsp;</div>

		<div ng-include=" './templates/shareLinks.html' "></div>

 	</div>

 	<div ng-include=" './templates/sidebar.html' "></div>

</div>