
<div class="wrapper">
	<div class="main_content">
		<div class="header_title">
			<h1>Rethinking our drug policy</h1>
		</div>

  	<p>The war on drugs has failed. Today we incarcerate too many Americans for non-violent drug crimes, while too few resources are available for effective treatment and prevention.</p>
		<p><object width="255" height="206" style="float: right; margin: 10px;"><param name="movie" value="http://swf.tubechop.com/tubechop.swf?vurl=TXr_jp63R3E&amp;start=390&amp;end=835&amp;cid=3392187"></param><embed src="http://swf.tubechop.com/tubechop.swf?vurl=TXr_jp63R3E&amp;start=390&amp;end=835&amp;cid=3392187" type="application/x-shockwave-flash" allowfullscreen="true" width="255" height="206"></embed></object></p>
		<p><strong>We can do better. First, it’s time to legalize and regulate marijuana for adult users.</strong> That means looking at how we transition to legalization while protecting children and ensuring public safety. And more than that, it’s time to get serious about the tax and business structure of how this will work.</p>
		<p>But it’s important to get this right. That’s why I’m leading a Blue Ribbon Panel of legal, scientific, medical and public policy experts to help chart a responsible path to legalization.</p>
		<p>Our work doesn’t stop there. Drug addiction is a threat to families and to public health, and we can’t turn a blind eye to the effects. <strong>We have to open new and innovative pipelines for non-violent offenders to get counseling and treatment</strong>, while doubling down on efforts to keep people – especially kids – from starting drugs in the first place. </p>
		<p><strong>What we cannot do is continue sweeping the problem under the rug by sending non-violent offenders to prison.</strong> Too many men and women are in jail because of drug addiction. We should focus on rebuilding families by keeping people out of the criminal justice system and instead getting them the help they need so they can return to a productive life.</p>
		<p>Drug policy in California and across the country has missed the mark. Now’s the time to rethink our approach and get it right.</p>

		<div class="clear">&nbsp;</div>

		<div ng-include=" './templates/shareLinks.html' "></div>

 	</div>

	<div ng-include=" './templates/sidebar.html' "></div>

</div>