
<div class="wrapper"><div class="main_content"><div class="header_title"><h1>Building stronger schools at all levels</h1></div>
  <p><strong>Education is the key to opening countless doors, and good schools position our kids for endless possibilities.</strong> The highest wages, the best jobs and the brightest futures are available to individuals who have access to a great education and take full advantage of the resources.</p>
<p>Of course, not everyone has access to the same quality of education in California. </p>
<p>We have to get to work.</p>
<p>We have to get to work to ensure that every child has access to universal pre-school. </p>
<p>We have to get to work to make sure that every student in our urban core has the same chance to succeed in school as our students in places like Marin where I live. </p>
<p>We have to get to work making sure that every student understands the value of completing high school and make sure they have the resources and support to make that happen. </p>
<p>We have to get to work making college affordable for everyone and reducing the burden of student debt so when students leave college, they can take on the world without an anchor holding them back.</p>
<p><strong>It’s important. In fact, it’s one of the most critical things state and local government does. </strong></p>
<p>As a Regent of the University of California system and a Trustee of the California State University system, I've taken a stand against tuition hikes and fight for greater access to affordable education here in the state. And in addition to connecting more Californians with an affordable education, I'm continuing to fight to improve the pipeline between the university system and good-paying jobs around the state.</p>
<p>In the not too distant past, California led the country and the world in educating our residents from cradle to career – and beyond. California is still home to some of the best schools, colleges, universities and technical institutions in the world. But we must step it up to do even more. That is the challenge we need to meet.</p>
<hr />
<p><a href="http://www.ltg.ca.gov/docs/CED California Rpt6.pdf"><em>Learn more at CA.GOV about Lt. Gov. Newsom's work on higher education in the report, "Boosting California's Postsecondary Education Performance" (pdf).</em></a></p>

	<div class="clear">&nbsp;</div>


<div ng-include=" './templates/shareLinks.html' "></div>

 </div>

 <div ng-include=" './templates/sidebar.html' "></div>

</div>