<div class="wrapper">
	<div class="full_content">
		<div class="header_title">
			<h1>Show Your Support: Endorse Gavin</h1>
		</div>
    <div class="petition-text">
			<p>Thanks for joining the team. We can't do this without you.</p>
			<p>Your endorsement sends a powerful message that on our issues, we're standing together every step of the way.</p>
			<p>We've got a lot of work ahead, and I'm glad you're with me.</p>
		</div>

		<div class="petition-form">
			<h3>Add Your Name</h3>
			<form name="signup" class="bsd-signup-1" action="https://newsomlive.bsd.net/page/s/endorse-gavin-for-governor" method="post" id="endorse" novalidate >
				<div class="first">
				<span class="email-label">First Name
					<span class="req">*</span>
				</span>
				<input size="16" id="firstname" name="firstname" type="text">
				</div>
				<div class="last">
					<span class="email-label">Last Name
						<span class="req">*</span>
					</span>
					<input size="16" id="lastname" name="lastname" type="text">
				</div>
				<div class="email">
					<span class="email-label">Email Address
						<span class="req">*</span>
					</span> 
					<input type="email" class="text"  id="email" name="email">
				</div>
				<div class="zip">
					<span class="email-label">Zip Code
						<span class="req">*</span>
					</span>
					<input id="zip" name="zip" type="text">
				</div>
				<input type="submit" value="Count Me In!" class="button" />
			</form>
			
			<p style="font-size:80%;clear:left;">
				<span class="req">*</span> indicates a required field.
			</p>
		</div>

		<br style="clear:both;">
 
		<div class="clear">&nbsp;</div>

		<div ng-include=" './templates/shareLinks.html' "></div>

 	</div>
		
</div>