          <a name="mobile-nav"></a>
          <div class="megafooter-nav-wrapper">
            <div class="megafooter-nav centered">

              <ul>
                <li>
                  <strong><a href="about/index.html">About Gavin</a></strong>
                </li>
                <li><a href="about/index.html">Meet Gavin</a></li>
                <li><a href="about/jennifer/index.html">Meet Jennifer</a></li>
              </ul>
              <ul class="issues"><li><strong><a href="issues/index.html">Issues</a></strong></li>
                <li><a href="issues/economy/index.html">Economy and jobs</a></li>
                <li><a href="issues/energy/index.html">A clean energy future</a></li>
                <li><a href="issues/civil-rights/index.html">Standing up for all Californians</a></li>
                <li><a href="issues/schools/index.html">Building stronger schools at all levels</a></li>
                <li><a href="issues/government/index.html">Making government work better</a></li>
              </ul>
              <ul>
                <li><strong><a href="latest-news/index.html">Latest News</a></strong></li>
                <li><a href="category/press-releases/index.html">Press Releases</a></li>
                <li><a href="news/index.html">In the News</a></li>
              </ul>
              <ul>
                <li><strong><a href="get-involved/index.html">Get Involved</a></strong></li>
                <li><a href="donate/index.html">Donate</a></li>
  <!--<li>Volunteer</li>-->
                <li><a href="register/index.html">Register to Vote</a></li>
              </ul>
              <ul class="contact">
                <li><strong><a href="contact/index.html">Contact</a></strong></li>
                <li>Warren & Associates<br />
                    20 Galli Drive<br />
                    Suite A<br />
                    Novato, CA  94949<br />
                    <!-- Phone: (415) 963-9240  --><br />
                </li>
              </ul>
              <ul>
                <li><strong>Connect</strong></li>
                <li>
                  <a href="facebook/index.html"><img src="media/images/facebookicon.png" alt="Facebook" /></a>
                  <a href="twitter/index.html"><img src="media/images/twittericon.png" alt="Twitter" /></a>
                  <a href="youtube/index.html"><img src="media/images/yticon.png" alt="YouTube" /></a>
                  <a href="flipboard/index.html"><img src="media/images/flipboardicon.png" alt="FlipBoard" /></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="footer-wrapper">
            <div class="footer centered">
              <span class="copy">&copy; 2015 Newsom for California</span>
              <span class="disclaimer">Paid for by Newsom for California - Governor 2018.</span>
              <span class="powered"><a href="privacy-policy/index.html">Privacy Policy</a></span>
