<div class="megafooter-wrapper">
  <div class="centered">
    <div class="connect">
      <h2>Connect with Gavin</h2>
      <table>
        <tr>
          <td class="heading">
            <a href="https://www.facebook.com/GavinNewsom">CONNECT ON FACEBOOK</a>
          </td>
          <td>
            <div class="fb-like" data-href="https://www.facebook.com/GavinNewsom" data-width="310" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
          </td>
        </tr>
        <tr>
          <td class="heading">
            <a href="https://twitter.com/gavinnewsom">CONNECT ON TWITTER</a>
          </td>
          <td>     
            <a href="https://twitter.com/gavinnewsom" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @gavinnewsom</a>
          </td>
        </tr>
        <tr>
          <td class="heading">
            <a href="https://flipboard.com/@GavinNewsom?utm_campaign=widgets&utm_medium=web&utm_source=profile_badge&utm_content=gavinnewsom.com?utm_campaign=widgets&utm_source=logo&utm_medium=web">CONNECT ON FLIPBOARD</a>
          </td>
          <td>
          <a href="https://flipboard.com/@GavinNewsom?utm_campaign=widgets&utm_medium=web&utm_source=profile_badge&utm_content=gavinnewsom.com?utm_campaign=widgets&utm_source=logo&utm_medium=web"><img src="http://cdn.flipboard.com/badges/flipboard_srsw.png" alt="Flipboard" /></a>
            <a href="https://flipboard.com/@GavinNewsom?utm_campaign=widgets&utm_medium=web&utm_source=profile_badge&utm_content=gavinnewsom.com?utm_campaign=widgets&utm_source=logo&utm_medium=web" style="position:relative;bottom:9px;">Use Flipboard to read good stuff that Gavin's reading this week.</a>
          </td>
        </tr>
        <tr>
          <td class="heading">
            <a href="../citizenville/index.html">CHECK OUT CITIZENVILLE</a>
          </td>
          <td>
            <a href="../citizenville/index.html"><img src="../media/images/citizenville.png" alt="Citizenville" style="float:left;margin-right:10px;" /></a>
            <a href="../citizenville/index.html"><em>Citizenville</em>, by Gavin Newsom, is the story of how ordinary citizens can use new digital tools to dissolve political gridlock and transform American democracy.
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<a name="mobile-nav"></a>
<div class="megafooter-nav-wrapper">
  <div class="megafooter-nav centered">

    <ul>
      <li>
        <strong><a ui-sref="aboutGavin">About Gavin</a></strong>
      </li>
      <li><a ui-sref="aboutGavin">Meet Gavin</a></li>
      <li><a ui-sref="aboutJennifer">Meet Jennifer</a></li>
    </ul>
    <ul class="issues">
      <li>
        <strong><a ui-sref="issues">Issues</a></strong>
      </li>
      <li>
        <a ui-sref="economy">Economy and jobs</a>
      </li>
      <li>
        <a ui-sref="energy">A clean energy future</a>
      </li>
      <li><a ui-sref="civilRights">Standing up for all Californians</a></li>
      <li><a ui-sref="schools">Building stronger schools at all levels</a></li>
      <li><a ui-sref="government">Making government work better</a></li>
    </ul>
    <ul>
      <li>
        <strong><a href="https://www.google.com/#q=%22gavin+newsom%22&tbm=nws&tbs=sbd:1">Latest News</a></strong>
      </li>
      <li>
        <a ui-sref="press-releases">Press Releases</a>
      </li>
      <li>
        <a href="https://www.google.com/#q=%22gavin+newsom%22&tbm=nws&tbs=sbd:1">In the News</a>
      </li>
    </ul>
    <ul>
      <li>
        <strong><a ui-sref="get-involved">Get Involved</a></strong>
      </li>
      <li>
        <a href="https://secure.actblue.com/contribute/page/newsomdonate?refcode=www">Donate</a>
      </li>
<!--<li>Volunteer</li>-->
      <li><a ui-sref="register">Register to Vote</a></li>
    </ul>
    <ul class="contact">
      <li>
        <strong><a href="https://newsomlive.bsd.net/page/s/contact-us">Contact</a></strong>
      </li>
      <li>Deane & Company<br />
          1787 Tribute Road,<br />
          Suite K<br />
          Sacramento, CA  95815<br />
          <!-- Phone: (415) 963-9240  --><br />
      </li>
    </ul>
    <ul>
      <li><strong>Connect</strong></li>
      <li>
        <a href="https://www.facebook.com/GavinNewsom"><img src="media/images/facebookicon.png" alt="Facebook" /></a>
        <a href="https://twitter.com/GavinNewsom"><img src="media/images/twittericon.png" alt="Twitter" /></a>
        <a href="https://www.youtube.com/user/NewsomforCalifornia?&ab_channel=NewsomforCalifornia"><img src="media/images/yticon.png" alt="YouTube" /></a>
        <a href="https://flipboard.com/@GavinNewsom"><img src="media/images/flipboardicon.png" alt="FlipBoard" /></a>
      </li>
    </ul>
  </div>
</div>

<div class="footer-wrapper">
  <div class="footer centered">
    <span class="copy">&copy; 2015 Newsom for California</span>
    <span class="disclaimer">Paid for by Newsom for California - Governor 2018.</span>
    <span class="powered">
      <a ui-sref="privacyPolicy">Privacy Policy</a>
    </span>
  </div>
</div>