  <div class="mobile mobile-mini-nav">
    <a href="index.html">Home</a>&nbsp;|&nbsp;
    <a href="#mobile-nav">Menu</a>&nbsp;|&nbsp;
    <a href="sign-up/index.html">Sign Up</a>&nbsp;|&nbsp;
    <a href="donate/index.html">Donate</a>
  </div>
  <div class="print_header">Gavin Newsom for Governor 2018 | California - http://www.gavinnewsom.com
  </div>


  <div class="home-wrapper">
    <div class="header">
      <div class="logo">
        <a href="index.html">
          <img src="media/images/2015logo.jpg">
        </a>
      </div>

      <div class="site_links">
          <ul>
            <li>
              <a ui-sref="app">Home</a>
            </li>
            <li class="dropdown">
              <a ui-sref="aboutGavin" class="dropbtn">About Gavin</a>
              <div class="dropdown-content">
                <a ui-sref="aboutJennifer" class="dropbtn">About Jennifer</a>
              </div>
            </li>
            <li>
              <a ui-sref="latest-news">Latest</a>
            </li>
            <li>
              <a ui-sref="issues">Issues</a>
            </li>
            <li class="dropdown">
              <a ui-sref="get-involved" class="dropbtn">Get Involved</a>
              <div class="dropdown-content">
                <a ui-sref="endorse" class="dropbtn">Endorse Gavin</a>
                <a href="https://www.facebook.com/GavinNewsom" class="dropbtn">Join us on Facebook</a>
                <a href="https://secure.actblue.com/contribute/page/newsomdonate?refcode=www" class="dropbtn">Make a Donation</a>
                <a ui-sref="volunteer" class="dropbtn">Volunteer</a>
              </div>
            </li>
            <li>
              <a href="https://newsomlive.bsd.net/page/s/contact-us">Contact</a>
            </li>
            <li class="last">
              <a href="https://secure.actblue.com/contribute/page/newsomdonate?refcode=www">Donate</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br style="clear:left;">