  <div class="mobile mobile-mini-nav">
    <a href="index.html">Home</a>&nbsp;|&nbsp;
    <a href="#mobile-nav">Menu</a>&nbsp;|&nbsp;
    <a href="sign-up/index.html">Sign Up</a>&nbsp;|&nbsp;
    <a href="donate/index.html">Donate</a>
  </div>
  <div class="print_header">Gavin Newsom for Governor 2018 | California - http://www.gavinnewsom.com
  </div>


  <div class="home-wrapper">
    <div class="header">
      <div class="logo">
        <a href="index.html">
          <img src="media/images/2015logo.jpg">
        </a>
      </div>

      <div class="site_links">
          <ul>
              <li>
                <a ui-sref="app">Home</a>
              </li>
              <li class="dropdown">
                <a ui-sref="aboutGavin" class="dropbtn">About Gavin</a>
                <div class="dropdown-content">
                  <a ui-sref="aboutJennifer" class="dropbtn">About Jennifer</a>
                </div>
              </li>
              <li>
                <a href="latest-news/index.html">Latest</a>
              </li>
              <li>
                <a href="issues/index.html">Issues</a>
              </li>
              <li class="dropdown">
                <a href="get-involved/index.html" class="dropbtn">Get Involved</a>
                <div class="dropdown-content">
                  <a href="endorse/index.html">Endorse Gavin</a>
                  <a href="facebook/index.html">Join us on Facebook</a>
                  <a href="donate/index.html">Make a Donation</a>
                  <a href="volunteer/index.html">Volunteer</a>
                </div>
              </li>
              <li>
                <a href="contact/index.html">Contact</a>
              </li>
              <li class="last">
                <a href="donate/index.html" class style="z-index: 7;">Donate</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <br style="clear:left;">