
<div class="wrapper"><div class="main_content"><div class="header_title"><h1>Key Issues</h1></div>
  <p>Find out what Lt. Gov. Gavin Newsom has been working on for California:</p>
<ul>
<li><a href="economy/index.html">Economy and jobs</a> </li>
<li><a href="energy/index.html">A clean energy future</a> </li>
<li><a href="civil-rights/index.html">Standing up for all Californians</a> </li>
<li><a href="schools/index.html">Building stronger schools at all levels</a> </li>
<li><a href="drugpolicy/index.html">Rethinking our drug policy</a> </li>
<li><a href="government/index.html">Making government work better</a> </li>
</ul>

	<div class="clear">&nbsp;</div>



<div class="share_links"><span class='st_sharethis' st_via='' displayText='ShareThis'></span>
	<span class='st_facebook' displayText='Facebook'></span>
	<span class='st_twitter' displayText='Tweet'></span>
	<span class='st_email' displayText='Email'></span>
	</div>
 </div>

<div ng-include=" './templates/sidebar.html' "></div>

</div>
			