
<div class="wrapper"><div class="main_content"><div class="header_title"><h1>Key Issues</h1></div>
  <p>Find out what Lt. Gov. Gavin Newsom has been working on for California:</p>
<ul>
<li><a ui-sref="economy">Economy and jobs</a> </li>
<li><a ui-sref="energy">A clean energy future</a> </li>
<li><a ui-sref="civilRights">Standing up for all Californians</a> </li>
<li><a ui-sref="schools">Building stronger schools at all levels</a> </li>
<li><a ui-sref="drugPolicy">Rethinking our drug policy</a> </li>
<li><a ui-sref="government">Making government work better</a> </li>
</ul>

	<div class="clear">&nbsp;</div>



<div class="share_links"><span class='st_sharethis' st_via='' displayText='ShareThis'></span>
	<span class='st_facebook' displayText='Facebook'></span>
	<span class='st_twitter' displayText='Tweet'></span>
	<span class='st_email' displayText='Email'></span>
	</div>
 </div>

<div ng-include=" './templates/sidebar.html' "></div>
<!-- <div ng-include=" './templates/newsWithSidebar.html' "></div> -->


</div>
			