
<div class="wrapper"><div class="main_content"><div class="header_title"><h1>Latest News</h1></div>
    
        
<table>
  
<tr><td class="pub-date">March 8, 2015</td><td class="list"><a href="../2015/03/08/be-man/index.html">&quot;Be a man!&quot;</a> </td></tr>
        
<tr><td class="pub-date">Feb. 11, 2015</td><td class="list"><a href="http://www.huffingtonpost.com/2015/02/11/gavin-newsom-governor_n_6662504.html">Huffington Post: Gavin Newsom Takes First Step Toward Running For California Governor</a> </td></tr>
        
<tr><td class="pub-date">Feb. 11, 2015</td><td class="list"><a href="http://ww2.kqed.org/news/2015/02/11/gavin-newsom-says-hes-running-for-California-governor-in-2018/">KQED: Yes, Says Gavin Newsom: I’m Running for Governor</a> </td></tr>
        
<tr><td class="pub-date">Feb. 11, 2015</td><td class="list"><a href="http://www.sacbee.com/news/politics-government/capitol-alert/article9735230.html">Sacramento Bee: Gavin Newsom to open campaign account for governor in 2018</a> </td></tr>
        
<tr><td class="pub-date">Feb. 11, 2015</td><td class="list"><a href="../2015/02/11/join-us/index.html">Join us</a> </td></tr>
        
<tr><td class="pub-date">Feb. 2, 2015</td><td class="list"><a href="http://www.capradio.org/articles/2015/02/02/costs-continue-after-politicians-win-office">Capital Public Radio: Costs Continue After Politicians Win Office</a> </td></tr>
        
<tr><td class="pub-date">Jan. 30, 2015</td><td class="list"><a href="../2015/01/30/illusion-and-smokescreen/index.html">An illusion and a smokescreen</a> </td></tr>
        
<tr><td class="pub-date">Jan. 26, 2015</td><td class="list"><a href="http://www.sacbee.com/opinion/editorials/article8210571.html">The Sacramento Bee: Books before bowl games, regents</a> </td></tr>
        
<tr><td class="pub-date">Jan. 21, 2015</td><td class="list"><a href="http://www.sacbee.com/news/politics-government/capitol-alert/article7880709.html">Sacramemto Bee: UC regents push for stricter standards in new coach bonus policy</a> </td></tr>
        
<tr><td class="pub-date">Nov. 20, 2014</td><td class="list"><a href="http://www.kgoradio.com/common/page.php?pt=Newsom+on+UC+Tuition+Hike%3A+%22It%27s+...+a+Really+Bad+Proposal%22&amp;id=97731&amp;is_corp=0">KGO Radio: Newsom on UC Tuition Hike: &quot;It&#39;s ... a Really Bad Proposal&quot;</a> </td></tr>
        
<tr><td class="pub-date">Nov. 17, 2014</td><td class="list"><a href="../2014/11/17/petition-stop-uc-tuition-increases/index.html">[Petition] Stop UC tuition increases</a> </td></tr>
        
<tr><td class="pub-date">Nov. 10, 2014</td><td class="list"><a href="http://www.ocregister.com/articles/tuition-641538-percent-years.html">Orange County Register: Editorial: UC tuition hike flunks smell test</a> </td></tr>
        
<tr><td class="pub-date">Nov. 8, 2014</td><td class="list"><a href="http://www.news10.net/story/news/local/california/2014/11/07/newsom-responds-to-uc-system-rate-hike/16000546/">News 10: Newsom responds to UC system proposed rate hike</a> </td></tr>
        
<tr><td class="pub-date">Nov. 7, 2014</td><td class="list"><a href="../2014/11/07/heres-rundown-tuesday-night/index.html">Here&#39;s a rundown on Tuesday night</a> </td></tr>
        
<tr><td class="pub-date">Nov. 5, 2014</td><td class="list"><a href="../2014/11/05/thank-you/index.html">Thank you</a> </td></tr>
        
<tr><td class="pub-date">Nov. 2, 2014</td><td class="list"><a href="../2014/11/02/news-flash-california-huge/index.html">News flash: California is huge</a> </td></tr>
        
<tr><td class="pub-date">Oct. 22, 2014</td><td class="list"><a href="../2014/10/22/petition-fund-early-detection/index.html">Petition: Fund early earthquake detection</a> </td></tr>
        
<tr><td class="pub-date">Oct. 20, 2014</td><td class="list"><a href="http://blog.sfgate.com/opinionshop/2014/10/20/gavin-newsom-widely-mocked-later-imitated/">SF Gate: Gavin Newsom: Widely mocked &amp; later imitated</a> </td></tr>
        
<tr><td class="pub-date">Oct. 19, 2014</td><td class="list"><a href="../2014/10/19/you-have-job-do/index.html">You have a job to do</a> </td></tr>
        
<tr><td class="pub-date">Oct. 15, 2014</td><td class="list"><a href="http://m.sfgate.com/opinion/editorials/article/Chronicle-recommends-Re-elect-Lt-Gov-Gavin-5822869.php">San Francisco Chronicle: Chronicle recommends: Re-elect Lt. Gov. Gavin Newsom</a> </td></tr>
        
<tr><td class="pub-date">Oct. 8, 2014</td><td class="list"><a href="../2014/10/08/prop-47-how-im-voting-controversial-issue/index.html">Prop 47: How I&#39;m voting on this controversial issue</a> </td></tr>
        
<tr><td class="pub-date">Oct. 7, 2014</td><td class="list"><a href="../2014/10/07/victory-marriage-equality-momentum/index.html">VICTORY: Marriage equality momentum</a> </td></tr>
        
<tr><td class="pub-date">Sept. 30, 2014</td><td class="list"><a href="http://www.dailynews.com/opinion/20140930/re-elect-gavin-newsom-as-california-lieutenant-governor-endorsement">Los Angeles Daily News: Re-elect Gavin Newsom as California lieutenant governor: Endorsement</a> </td></tr>
        
<tr><td class="pub-date">Aug. 28, 2014</td><td class="list"><a href="../2014/08/28/taking-field/index.html">Taking the Field</a> </td></tr>
        
<tr><td class="pub-date">Aug. 21, 2014</td><td class="list"><a href="http://www.bloombergview.com/articles/2014-08-21/why-don-t-colleges-care-about-athletes-grades">Bloomberg View: Why Don&#39;t Colleges Care About Athletes&#39; Grades?</a> </td></tr>
        
<tr><td class="pub-date">Aug. 1, 2014</td><td class="list"><a href="http://www.mercurynews.com/opinion/ci_26260746/mercury-news-editorial-gavin-newsom-deserves-re-election">Mercury News: Gavin Newsom deserves re-election as lieutenant governor</a> </td></tr>
        
<tr><td class="pub-date">June 27, 2014</td><td class="list"><a href="http://sfist.com/2014/06/27/the_gay_rights_fight_started_in_cal.php">SFist: The Gay Rights Fight Started In California, Two Decades Before Stonewall</a> </td></tr>
        
<tr><td class="pub-date">June 15, 2014</td><td class="list"><a href="../2014/06/15/lessons-refrigerator-magnet/index.html">Lessons from a refrigerator magnet</a> </td></tr>
        
<tr><td class="pub-date">June 13, 2014</td><td class="list"><a href="http://sfist.com/2014/06/13/gavin_newsom_demands_apology_from_r.php">SFist: Gavin Newsom Demands Apology From Rick Perry Over Gay Comments</a> </td></tr>
        
<tr><td class="pub-date">June 4, 2014</td><td class="list"><a href="http://www.sfgate.com/bayarea/nevius/article/Gavin-Newsom-learning-political-lessons-from-Gov-5529148.php">SF Gate: Gavin Newsom learning political lessons from Gov. Jerry Brown</a> </td></tr>
        
<tr><td class="pub-date">June 4, 2014</td><td class="list"><a href="http://www.kpbs.org/news/2014/jun/03/lt-gov-gavin-newsom-wins-chance-run-second-term/">KPBS: Lt. Gov. Gavin Newsom Wins Chance To Run For Second Term</a> </td></tr>
        
<tr><td class="pub-date">May 20, 2014</td><td class="list"><a href="http://sanfrancisco.cbslocal.com/2014/05/20/lt-gov-gavin-newsom-to-accept-bitcoin-political-campaign-donations-virtual-currency-cryptocurrency/">CBS: Lt. Gov. Gavin Newsom To Accept Bitcoin Campaign Donations</a> </td></tr>
        
<tr><td class="pub-date">May 13, 2014</td><td class="list"><a href="http://www.pressdemocrat.com/article/20140513/articles/140519860">The Press Democrat: Lt. Gov. Gavin Newsom pushes entrepreneurism at Santa Rosa event (w/video)</a> </td></tr>
        
<tr><td class="pub-date">May 8, 2014</td><td class="list"><a href="http://pando.com/2014/05/08/lt-governor-gavin-newsom-cries-out-for-open-government-in-the-github-wilderness/">Pando.com: Lt. Governor Gavin Newsom cries out for Open Government in the Github wilderness</a> </td></tr>
        
<tr><td class="pub-date">April 29, 2014</td><td class="list"><a href="http://www.sfbg.com/2014/04/29/guardian-endorsements">San Francisco Bay Guardian: San Francisco Bay Guardian&#39;s Endorsements</a> </td></tr>
        
<tr><td class="pub-date">March 9, 2014</td><td class="list"><a href="http://www.rawstory.com/rs/2014/03/09/ca-lt-gov-gavin-newsom-on-marijuana-its-time-to-legalize-time-to-regulate/">The Raw Story: CA. Lt. Gov. Gavin Newsom on marijuana : ‘It’s time to legalize’, ‘time to regulate’</a> </td></tr>
        
<tr><td class="pub-date">March 8, 2014</td><td class="list"><a href="../2014/03/08/watch-lt-gov-gavin-newsom-delivers-convention-spee/index.html">WATCH: Lt. Gov. Gavin Newsom Delivers Convention Speech</a> </td></tr>
        
<tr><td class="pub-date">Feb. 5, 2014</td><td class="list"><a href="../2014/02/05/lt-gov-gavin-newsom-partners-marriage-equality-gro/index.html">Lt. Gov. Gavin Newsom partners with marriage equality groups to create winter of love pinterest board</a> </td></tr>
        
<tr><td class="pub-date">Oct. 17, 2013</td><td class="list"><a href="http://www.nytimes.com/2013/10/18/us/california-legal-marijuana-studied.html?_r=1&amp;">New York Times: California: Legal Marijuana Studied</a> </td></tr>
        
       </table>



 

	<div class="clear">&nbsp;</div>



<div class="share_links"><span class='st_sharethis' st_via='' displayText='ShareThis'></span>
<span class='st_facebook' displayText='Facebook'></span>
<span class='st_twitter' displayText='Tweet'></span>
<span class='st_email' displayText='Email'></span></div>

 </div>

<div ng-include=" './templates/sidebar.html' "></div>
	
	</div>
	