<div class="wrapper">
	<div class="main_content">
		<div class="header_title">
			<h1>Lt. Gov. Gavin Newsom partners with marriage equality groups to create winter of love pinterest board</h1>
		</div>
 

		<p>It’s been 10 years since Phyllis Lyon and Del Martin first said their vows in San Francisco’s City Hall, kicking off the Winter of Love and jumpstarting the movement toward marriage equality. Now, 17 states and the District of Columbia support the right for same-sex couples to marry.</p>
		<p>To celebrate the 10th Anniversary of the Winter of Love, Lt. Gov. Gavin Newsom has partnered with the Human Rights Campaign, Marriage Equality USA, Equality California, the Courage Campaign and National Center for Lesbian Rights to create a Pinterest board for the couples who were married, their families, friends and the thousands of people who shared in the joy and excitement of the Winter of Love.</p>
		<p>The board, which has more than 825 followers already, celebrates the weddings that took place 10 years ago and those who have been married since.</p>
		<p>“Granting same-sex couples the ability to marry was the right thing to do then and it’s the right thing to do now,” said Lieutenant Governor Gavin Newsom. “So much has happened over the past decade, this is the perfect opportunity to celebrate all of those moments as we honor this anniversary.”</p>
		<p>Stuart Gaffney, Communications Director, Marriage Equality USA, who married his partner during the Winter of Love, said: “The Winter of Love put a human face on the freedom to marry, as San Francisco showed the country and the world that it would forever stand on the side of love and marriage. Nothing is more personal than your wedding day, and for us the Winter of Love meant that we could finally say 'I Do' as we became newlyweds after 17 years together.”</p>
		<p>“We are excited to have a platform to celebrate these moments of love that have come from the marriage equality movement over the past 10 years,” Human Rights Campaign Communications Director Michael Cole-Schwartz said. “We’ve come so far since those first vows were taken and it’s time we see and celebrate all of the wonderful wedding photos from thousands of couples who are now married as a reminder of the work still left before us.”</p>
		<p>Dr. Paul Song, executive chairman of CourageCampaign.org, said marriage equality is becoming an “ever-expanding reality.”</p>
		<p>“Ten years ago, San Francisco’s 'Winter of Love' forced the idea of marriage equality into the national consciousness and opened the hearts and minds of Americans to the love that exists between same-sex couples. We still have a long way to go, but since those days, marriage equality has become an ever-expanding reality, with the U.S. government now recognizing same-sex marriages from 17 states and counting,” Song said.</p>
		<p>The board is open to anyone and welcomes contributions from those couples married during the winter of 2004 or from ceremonies that have taken place in the more than a dozen states that recognize marriage equality.</p>
		<p>To add to the board just upload your pictures to Twitter or Pinterest using the #WinterOfLove hashtag. The board can be found here: <a href="http://www.pinterest.com/gavinnewsom/winter-of-love/">http://www.pinterest.com/gavinnewsom/winter-of-love/</a></p>
		<p>For more information, contact Andrea Koskey, communications director for Lt. Gov. Newsom at 415-635-4950.</p>


		<div class="posted_on">
			<span>Posted on February 5, 2014</span> in <a ui-sref="pressReleases">Press Releases</a>
			<span>.</span>
		</div>


		<div class="clear">&nbsp;</div>

		<div ng-include=" './templates/shareLinks.html' "></div>

  </div>

	<div ng-include=" './templates/sidebar.html' "></div>
	
</div>