<div class="wrapper">
	<div class="main_content">
		<div class="header_title">
			<h1>Privacy Policy</h1>
		</div>
  	<p>We make every effort to ensure the privacy and security of information that you share with us online.</p>
		<p>Our site links to a limited number of other websites. We are not responsible for the content or the privacy policies of these websites. We encourage you to read the privacy statements for each website you visit. We will occasionally update this privacy policy as appropriate.</p>
		<h3>How do we protect your information?</h3>
		<p>Our website has a number of security measures in place to protect against the loss, misuse or alteration of the information under our control. Computer systems have restricted access limited only to those persons and organizations necessary to its proper functioning. This access applies to all electronic and physical security measures. Highly sensitive data including credit card information is additionally secured through the use of encryption, such as the Secure Socket Layer (SSL) protocol. Our servers are located in a locked, secure environment.</p>
		<h3>How do we use the information you provide?</h3>
		<p>We will use your e-mail address to provide you news and information about our efforts. We may also use location information to send you e-mail messages about upcoming events or activities in your area.</p>
		<p>We may use the information that you provide online to contact you for other purposes or to solicit contributions. When you register or sign up online, we may share your contact information with other organizations that share similar goals and objectives, and they may contact or solicit you.</p>
		<h3>When you contribute money online:</h3>
		<p>We do not store your credit card information under any circumstances.</p>
		<p>We are often required to disclose information regarding your contributions to comply with campaign finance laws. For example, Federal law requires us to use our best efforts to collect and report the name, mailing address, occupation and name of employer of individuals whose contributions aggregate in excess of $200 in an election cycle.   These records are often made available to the public. </p>
		<h3>When you sign one of our petitions or other endorsement-type forms:</h3>
		<p>We treat your name, city, state, and any comments as public information. We may, for example, disclose this information to public officials, the press, and/or the general public.  In accordance with our general policy, we may also use the information that you provide to contact you for other purposes or to solicit contributions.  We may share your email address and other contact information with other organizations that share similar goals and objectives, and they may contact or solicit you.</p>
		<h3>Information we collect automatically:</h3>
		<p>In partnership with third parties, we use various technologies to learn how visitors are using our websites, improve our websites, and customize your experience. This may include sending cookies (small data files) to your computer or mobile device.  We may also collect information using "web beacons" or "tracking pixels" -- electronic images that may be used in our websites or emails that deliver cookies, count visits, understand campaign effectiveness and determine whether an email has been opened and acted upon.  These technologies are used to improve our email broadcasting program as well as our advertising and promotion programs.  You can opt-out of these technologies for advertising by visiting <a href="http://aboutads.info/choices">AboutAds.info/choices</a>.  See below for information about opting-out from email communications.</p>
		<h3>Information on Children:</h3>
		<p>Because we care about the safety and privacy of children online, we comply with the Children’s Online Privacy Protection Act of 1998 (COPPA). COPPA and its accompanying FTC regulations establish United States federal law that protects the privacy of children using the Internet. We do not knowingly contact or collect personal information from children under 13. Our site is not intended to solicit information of any kind from children under 13, and we have designed our sites to block our knowing acceptance of information from children under 13 whenever age-related information is requested.</p>
		<p>Parents with questions may contact us directly.</p>
		<h3>Unsubscribing from E-mail Communications:</h3>
		<p>You may <a href="https://newsomlive.bsd.net/page/unsubscribe">unsubscribe from our email communications</a> at any time. We will regularly process these requests. To comply with the law, however, our contributor records will not be altered and are continuously maintained in a separate secure database.</p>
		<p>If you have any questions about our privacy policy, corrections to the information we have collected from you online, the practices of this site or your interaction with this website, please <a href="https://newsomlive.bsd.net/page/s/contact-us">contact us</a>.</p>

		<div class="clear">&nbsp;</div>

		<div ng-include=" './templates/shareLinks.html' "></div>

	</div>

</div>

<div ng-include=" './templates/sidebar.html' "></div>