<div class="wrapper">
	<div class="main_content">
		<div class="header_title">
			<h1>Register to vote</h1>
		</div>
  	<p>Not a registered voter? You have moved since the last election? Click here to visit Rock the Vote, a nonpartisan voter registration organization, an <a href="http://www.rockthevote.com/rtv_voter_registration.html">get yourself registered using their online system</a></p>

		<div class="clear">&nbsp;</div>

		<div ng-include=" './templates/shareLinks.html' "></div>

	 </div>

  <div ng-include=" './templates/sidebar.html' "></div>

</div>